@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}    
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.links {
    padding: 40px;
    border-bottom: 1px  solid #333;
    background: rgba(0, 0n, 0, 0.1);
    font-weight: 500;
    text-align: center;
}

.links a {   
    padding: 30px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
}
.links a:hover {
    color: #50fa7b;
    transition: 310ms;
}

.foto {
    text-align: center;
}

.foto img {
    border-radius: 50%;
    border: 2px solid var(--color-green);
    height: 300px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.foto h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.foto h2 {
    opacity: 0.8;
    font-size: 20px;
    font-weight: normal;
    max-width: 500px;
    margin: 32px auto;
    margin-bottom: 50px;
}

.foto h1 a {
    color: var(--color-green);
}

.techs ul li {
    text-align: center;
    padding: 5px;
}

#pics a:hover {
    border-bottom: 2px solid var(--color-green);
}

.techs a {
    color: white;
    text-decoration: none;
}

.techs a:hover {
    color: var(--color-green);
}
#foto-first a img:hover {
    border: 5px solid var(--color-green);
}

.wrapper {
    padding: 32px;
    text-align: center;
}

.wrapper h1 {
    font-size: 42px;
    line-height: 42px;
    font-weight: bold;
}

/* >>>> CARDS <<<<*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card_image-container {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.card_content,
.card_info {
    padding: 14px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_price {
    background-color: #282a36;
    filter: brightness(80%);
    text-align: center;
    border-radius: 20px;
}

/* >>>> MODAL <<<<*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: rgb(32, 31, 31);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: white;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal.maximize {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.modal .maximize-modal {
    color: white;
    position: absolute;
    right: 35px;
    top: 11px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.maximize {
    background-color: rgb(32, 31, 31);
    width: 100%;
    height: 500%;
    position: absolute;
}

/* >>>> ERRO 404 - PAGE NOT FOUND */

.nFound {
    font-family: 'Roboto-Regular', sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
}

/* >>>> COURSE PAGE <<<< */


.card_course-container iframe {
 
    max-width: 100%;
    max-height: 100%;
}
