{% extends "layout.njk" %}


{% block content %}


            <!--Card-->
        <section class="course">
            <div class="card">
                <div class="card_course-container">
                   <iframe src="https://www.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
                </div>
           </div>
        </section>
            
{% endblock %}