@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color_background: white;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--color_background);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #3CB371;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a {
    position: relative;
    color: white;
    text-decoration: none;
}

.links a + a{
    margin-left: 40px;
}

.links a.active {
    font-weight: bold;
    color: #FFFFFF;
}

.links a:hover {
    color: black;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.links a:hover::after {
    width: 100%;
    transition: width 600ms ease-in-out;
}