@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color_primary: #7159c1;
    --second_color: #F7DF1E;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--color_primary);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--color_primary);
}

.links a:hover {
    color: var(--color_primary);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color_primary);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.links a:hover::after {
    width: 100%;
    transition: width 600ms cubic-bezier(0, 0.64, 0.55, 0.93);
}

/* >>>> CARD <<<< */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    /* >>>> ESPAÇAMENTO ALINHADO AO CENTRO <<<< */
    margin: 45px auto;

    /* >>>> GRID DIVIDIDO <<<< */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* >>>> SOMBRA <<<< */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* >>>> ANIMAÇÃO <<<< */
    animation-name: up 100ms ease;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* >>>> DETAILS <<<< */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color_primary);
}

.details .item div:nth-child(2) span {
    padding: 8px 16px;
    background-color: var(--second_color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* >>>> FORM <<<< */

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 5px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    color: white;
    background-color: var(--color_primary);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}